<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings xdt:Transform="Replace">
    <add name="INMETRO" connectionString="Data Source=RINM02S;Initial Catalog=INMETRO;Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="log4net.Internal.Debug" value="false" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <add key="API.BaseAddess" value="http://ws-corporativo.inmetro.gov.br/" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
  </appSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <system.net>
    <mailSettings xdt:Transform="Replace">
      <smtp deliveryMethod="Network" from="servir@inmetro.gov.br">
        <network host="webmail.inmetro.gov.br" userName="servir@inmetro.gov.br" password="senha" port="25" defaultCredentials="false" />
      </smtp>
    </mailSettings>
  </system.net>

</configuration>